.header-top{
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  position: relative;
  
  .link-logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    
    &:hover{
      .logo,.text-logo{
        transform: scale(1.1);
      }
    }
    .logo{
      width: 100px;
      transition: all .3s ease-in-out;
    }

    .text-logo{
      transition: all .3s ease-in-out;
      color: white;
      font-weight: bold;
      background-color: #017eff;
      padding: 10px;
      border-radius: 0px 10px 10px 0px;
      margin-left: -15px;
      
    }
  }

  .btn-close,.btn-open{
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    svg{
      color: #242424;
      font-size: 40px;
    }
  }

  .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    a{
      text-decoration: none;
      font-size: 1.1em;
      font-weight: bold;
      transition: all .3s ease-in-out;
      display: block;
    }
    .menu{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;

      li a{
        padding: 10px;
        color: black;
        border-radius: 15px;
        &:hover,&:focus{
          background-color: #017eff;
          color: white;
        }
      }
    }
    .link-phone{
      position: relative;
      background-color: #017eff;
      padding: 15px;
      border-radius:20px;
      color: white;
      &:hover,&:focus{
        box-shadow: 0px 0px 15px #017eff;
      }

      @media (min-width:1200px){
        &::before{
          content:"(81) 91111-1212";
          position: absolute;
          top: 50%;
          left: -8em;
          transform: translateY(-50%);
          color: #333;
          font-size: 1.1em;
        }
      }
    }
  }
  
  .mobile{
    padding: 1em 0;
    position: fixed;
    background-color: white;
    transition: all .5s ease-in-out;
    top: 0;
    left: -101vw;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0;

    .btn-close{
      padding: 10px;
      svg{
        color: #017eff;
        font-size: 50px;
      }
    }

    .menu{
      flex-direction: column;
      width: 100%;
      li a{
        font-size: 1.3em;
      }
    }


  }

  .open{
    left: 0;
  }
}